extends layout.pug
include sections/Header/Header
include sections/Main/Main
include sections/Benefits/Benefits
include sections/Promotion/Promotion
include sections/Footer/Footer
include sections/Tariff/Tariff

block content
  +Header
  main
    p main
  +Footer