$spaces: (
    coral:      (toRem(2)),
    red:        (toRem(4)),
    orange:     (toRem(6)),
    yellow:     (toRem(8)),
    pink:       (toRem(18)),
    blue:       (toRem(20)),
    cobalt:     (toRem(14), toRem(24), toRem(24)),
    purple:     (toRem(32)),
    brown:      (toRem(24), toRem(40), toRem(40)),
    gray:       (toRem(32), toRem(48), toRem(48)),
    black:      (toRem(24), toRem(64), toRem(64)),
    beige:      (toRem(48), toRem(80), toRem(80)),
    darkGreen:  (toRem(72), toRem(120), toRem(160)),
);
