$tags: (
    h1: (toRem(30), toRem(52), toRem(52), (toRem(38), toRem(64), toRem(64))),
    h2: (toRem(20), toRem(32), toRem(32), (toRem(26), toRem(40), toRem(40))),
    p1: (toRem(16), toRem(24), toRem(24), (toRem(20), toRem(32), toRem(32))),
    p2: (toRem(14), toRem(20), toRem(20), (toRem(18), toRem(26), toRem(26))),
    p3: (toRem(12), toRem(14), toRem(14), (toRem(14), toRem(18), toRem(18))),
);
